@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #3fd0d4 ;
    --txt-bold: #212121 ;
    --txt-color: #505050 ;
    --white-color: #ffffff ;
    --black-color: #000000;

    --height-header: 80px ;
    --box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--primary-color) !important;
    transform: scale(1.1) !important;
    transition: all .3s ease-in;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
}

input {
    border: none;
    outline: none;
}